# Secrets
secrets.h
**/secrets.h

# Arduino IDE build artifacts
*.hex
*.elf
*.bin
*.map
build/
.pio/          # if any project uses PlatformIO instead of Arduino IDE
.vscode/        # if you use VS Code with Arduino/PlatformIO extension

# OS junk
.DS_Store
Thumbs.db

# Editor backups/swap files
*~
*.swp
*.bak